{% extends "base.html" %}

{% block content %}
    <h1>Adicionar Cliente</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nome.label(class="form-control-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.telefone.label(class="form-control-label") }}
            {{ form.telefone(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
